* body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans Flex", sans-serif;
}

.ProseMirror {
  font-family: inherit;
  line-height: 1.5rem;
}

.ProseMirror h1 {
  margin: 0;
  line-height: 2.5rem;
}
.ProseMirror h2 {
  margin: 0;
  line-height: 2.25rem;
}
.ProseMirror p,
.ProseMirror ul,
.ProseMirror ol {
  margin: 0;
}

