* body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans Flex", sans-serif;
}

.ProseMirror {
  font-family: inherit;
  line-height: 1.5rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror p,
.ProseMirror ul,
.ProseMirror ol {
  margin: 0;
}