.toolbarSection {
  padding: 8px;
  min-height: 50px;
  max-height: 120px;
  display: flex;
  align-items: center;
  background-color: rgb(247, 245, 247);
  border-bottom: 2px solid rgb(127, 126, 126);
}

.generateSummaryButton {
  background: linear-gradient(90deg, var(--ai-gradient-start) 0%, var(--ai-gradient-end) 100%);
}