.toolbarSection {
  padding: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(241, 237, 241);
  border-bottom: 2px solid rgb(127, 126, 126);
}

.generateSummaryButton {
  background: linear-gradient(90deg, var(--ai-gradient-start) 0%, var(--ai-gradient-end) 100%);
}